* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body, input, button, p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
}