.Modal {
    width: 90%;
    max-width: 500px;
    background-color: #FFF;
    padding: 10px;
    border-radius: 5px;
    
}

.Overlay {
    position: fixed ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);


    display: flex;
    align-items: center;
    justify-content: center;
}
.ModalButton {
    height: 63px;
    width: 280px;
    padding: 20px;
    font-weight: 700;

    background-color: #008FFB;
    color: #FFF;

    border-radius: 5px;
    margin: 12px 0 10px;
    border: none;

    cursor: pointer;
    transition: 0.5s;

    font-size: 16px;
}